{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
    <form method="POST" action="/result">
        {% for key , questions in question %}
            <h4>{{questions}}<h4>
            <ul>
            {% for propositions in proposition[key] %}
                <input type="radio" name="{{key}}" style="text-align: left ; display: inline">{{propositions.reponse}}</input><br>
            {% endfor %}
            </ul>
        {% endfor %}
        <button type='submit' class="btn btn-dark">valider</button>
    </form>
{% endblock %}
